@import url('https://fonts.googleapis.com/css?family=Outfit');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
body{
    background-color: #F0FFF0;
    overflow: hidden;
}

section{
    position: absolute;
    left: 18%;
    top: 5%;
    display: flex;
    border-radius: 10px;
    width:70%;
    height: 90vh;
    background-color: white;
}
section .imgBox{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBox img{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
section .contentBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    
}
section .contentBox .formBox{
    width: 50%;
}
section .contentBox .formBox h2{
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #146256 ;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBox .formBox .inputBox{
    margin-bottom: 20px;
}
section .contentBox .formBox .inputBox span{
    font-size: 16px;
    display: inline-block;
    color: #bfbebe;
    font-weight: 300;
    letter-spacing: 1px;
}
section .contentBox .formBox .inputBox input{
    width:100%;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-bottom: 2px solid #bfbebe;
}
input[type=submit]{
    width:100%;
    padding:10px 20px;
    margin-top: 20px;
    outline: none;
    font-weight: 400;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
}
section .contentBox .formBox .inputBoxDont{
    margin-top: 20px;
    color: #bfbebe;
}
section .contentBox .formBox .inputBoxDont a{
    text-decoration: none;
    color: #146256;
}
.ellipse1{
    position: absolute;
    width: 371px;
    height: 371px;
    left: -180px;
    top: -230px;
    rotate: 10deg;
    border-radius: 50%;
    background: linear-gradient(190.14deg, #146256 38.97%, #2B2E4A 72.96%);
}
.ellipse2{
    position: absolute;
    width: 371px;
    height: 371px;
    border-radius: 50%;
    left: 1350px;
    top: 635px;
    rotate: 70deg;
    background: linear-gradient(190.14deg, #146256 38.97%, #2B2E4A 72.96%);
}
@media (max-width:768px){
    section {
        position: absolute;
        left: -10%;
        top: -2%;
        display: flex;
        border-radius: 10px;
        width: 120%;
        height: 140vh;
        background-color: white;
        overflow: auto;
        
    }
    section .imgBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        z-index: 1;
        position: absolute;
        left: 1%;
        padding-left: 55px;
    }
    section .contentBox .formBox {
        width: 100%;
        padding: 40px;
        background: #fffffff0;
        margin: 50px;
    }
    .ellipse1 {
        position: absolute;
        width: 371px;
        height: 371px;
        left: -220px;
        top: -2000px;
        rotate: 10deg;
        border-radius: 50%;
        background: linear-gradient(190.14deg, #146256 38.97%, #2B2E4A 72.96%);
    }
}