body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.heading{
    height: fit-content;
    position: absolute;
    top: 130px;
    left: 20px;
}

.container {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 160px;
    margin-left: 120px;
}

.product {
    width: 300px; height: 347.8px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.product a{
    text-decoration: none;
    color: #fff;
}

.prodimg{ 
    height: 200px;
    margin-bottom: 5%;
    overflow: hidden;
    display: flex;
}

.prodimg img {
    transition: .5s;
}

.prodimg img:hover{
    transform: scale(1.05);
}

.product h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.product p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.product .a1 {
    background-color: #000000;
    color: #fff;
    padding: 4px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.product .a1:hover {
    background-color: #ffffff;
    color: #000000;
    border: solid black 1px;
}
.product .a2 {
    background-color: #fff;
    color: red;
    padding: 4px 2px;
    border: solid red 1px;
    border-radius: 3px;
    cursor: pointer;
}

.product .a2:hover {
    background-color: #DC143C;
    color: #fff;
}

p.status{
    color: grey;
}

.empty{
    width: 100vh;
}