a{
    display: inline-block;
    text-decoration: none;
    color:white;
    background: #53C8A8;
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup a{
    display: inline-block;
    text-decoration: none;
    color:white;
    background: black;
    padding: 5px;
    border-radius: 10px;
}
#popup a:hover{
    color: black;
    background: white;
    outline: 2px solid black;
    transition: .2s;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20vw;
    padding: 30px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: white;
    border-radius: 2em;
    /* visibility: hidden;
    opacity: 0;
    transition: 0.5s; */
}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}