<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <header>
        <img src="../pics/logo.png" alt="logo" class="logoicon">
        <h2 class="logo">Agrosphere</h2>
        <nav class="navigation">
            <a href="#" class="active">Home</a>
            <a href="catalogue.php">Catalogue</a>
            <a href="#">Shop</a>
            <a href="dashboard.html">Profile</a>
            <a href="#foot">Contact</a>
        </nav>
    </header>
</body>
</html>